- name: nginx install & start services
  hosts: all
  become: true
  tasks:
  - name: install nginx
    yum:
     name: nginx
     state: latest
  - name: startr nginx
    service:
     name: nginx
     state: started
  - name: create a file
    script: file.sh
     
