name: Deploy with Ansible

on:
  workflow_dispatch:
    inputs:
      deployment:
        description: 'deployment'
        required: true
        default: ''


        

defaults:
  run:
    shell: bash 
    
    
env: 
  ROOT_PATH: '${{ github.workspace }}/sub-intelligent-automation/src/resources/deployment${{ github.event.inputs.deployment }}/ansible/inventory/hosts'

jobs:
  deploy:
    runs-on: myhosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2


      - name: Install Ansible
        run: |
          pip install ansible

      - name: Run Ansible playbook
        run: |
          ansible-playbook -i ${{ github.workspace }}/sub-intelligent-automation/src/resources/deployment${{ github.event.inputs.deployment }}/ansible/inventory/hosts "${{ github.workspace }}/sub-intelligent-automation/src/resources/deployment${{ github.event.inputs.deployment }}/ansible/plays/main.yml" --extra-vars "ansiblepass=$(Ansible-Password) ansibleuser=$(Ansible-User)"
